{% extends 'base.html' %}
{% load static %}

{% block contenido %}
<form method="POST" action="/menu/">
    {% csrf_token %} 
<link href="{% static 'css/plantas.css' %}"  rel="stylesheet" type="text/css">

{% load humanize %}
<div class="container">
{% for p in productos %}    

  
  <div class="row row-cols-1 row-cols-md-7 g-4">
    <div class="col mb-5">
      <div class="card "style="background-color:rgba(255, 255, 255, 0.477);">
        <br>
        <img src= "{{ p.imagen.url}}" class="card-img-top rounded mx-auto d-block w-50" alt="..." >
        <div class="card-body text-center">
          <h5 class="card-title">{{ p.nombre | title}}</h5>
          <p class="card-text">{{ p.descripcion | capfirst}}</p>
          <p class="card-text " style="display: inline-block">$</p>
          <p class="card-text precio" style="display: inline-block">{{ p.precioVenta | intcomma}}</p> <br>
          <a href="#" class="btn btn-primary">Agregar al carrito</a>
        </div>
      </div>
    </div>
  </div>
{% endfor %}  
</div>
{% endblock %}



